body {
    font-family: 'Sarala', sans-serif;
}

.page {
    width: 96vw;
    height: 70vh;
    display: flex;
}

.content {
    width: 98%;
    height: 90%;
    padding: 5%;
    margin: auto;
    display: grid;
    grid-template-rows: 3fr 5fr 1fr min-content 1fr 7fr;
    grid-gap: 3%;
}

.header, .gen, .copy {
    display: flex;
}

#gen-btn, #copy-btn  {
    margin: auto;
}

h1 {
    margin: 0 auto;
}

.dec {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}

.bottom-dec {
    width: 60%;
    justify-self: center;
}

.line {
    height: 7px;
    background-color: rgb(28, 7, 191);
}

.mid-line {
    background-color: red;
    height: 7px;
}

button {
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-size: calc(14px + 0.3vw);
}

button:focus{
    outline: none;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
    
}

.password {
    width: 90%;
    min-height: 60%;
    border: 2px solid black;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    display: flex;
}

h5 {
    font-size: calc(14px + 0.3vw);
    margin: auto;
    padding: 20px;
    word-break: break-all;
}

#copy-btn {
    background-color: black;
    color: white;
}

#gen-btn {
    background-color: rgb(28, 7, 191);
    color: white;
}

@media screen and (min-width: 678px) {
    .content {
        width: 70%;
        grid-template-rows: 3fr 3fr 9fr 3fr;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
    }

    .header {
        grid-column: 1 / -1;
    }
    .dec {
        width: 100%;
        grid-column: 1 / -1;
    }
}
