body {
    font-family: 'Sarala', sans-serif;
}

.page {
    display: grid;
}

.header, .gen, .password, .copy {
    display: flex;
}

h1, #gen-btn, h5, #copy-btn  {
    margin: auto;
}

@media screen and (min-width: 992px) {
    .page {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header {
        grid-column: 1 / -1;
    }
}

.output-box {
    border: 2px solid black;
    border-radius: 5px;
}

h5 {
    margin: auto;
}

button {
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    border: none;
}

button:focus{
    outline: none;
}

.copy-btn {
    background-color: black;
    color: white;
}

.gen-btn {
    background-color: rgb(28, 7, 191);
    color: white;
}

